@charset "utf-8";
/* CSS Document */
#profile
{
	color: white;
	text-align: center;
	padding-top: 150px;
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	
}
a:active
{
	color: #FFFBFB;
}
a:hover
{
	color: white;
}
li
{
	float: right;
}
ul
{
	list-style-type: none;
}
li a
{
	color: white;
	text-align: center;
	padding: 20px 15px;
	float: absolute; left: 400px;
	text-decoration: none;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 20px;
	
}
p
{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
h2
{
	color: white;
	padding: 10px;
}
#html
{
	padding-left: 50px;
}