@charset "utf-8";
/* CSS Document */
h1
{
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 60px;
}
p
{
	font-family: allura;
	font-size: 20px;
}
